# 빌드/출력 파일 무시
*.csv
*.log
*.bin

# vscode 세팅 무시
esp32_vscode/.vscode/

Espressif/
esp32_vscode/
preprocessing/myenv

# git을 위한 csi 데이터 뽑는 폴더 빌드 산출물 제외
esp32-cam/csi_recv_router/build/

# ESP-IDF 전체는 무시 (너무 용량이 크고, 설치로 대체 가능)
new_esp5/components/esp-idf-v5.3/
